[submodule "Character Tool"]
	path = Character Tool
	url = https://github.com/DRincs-Productions/daz-assert-genesis8-component-morphs
	branch = main
[submodule "Weapons"]
	path = Weapons
	url = https://github.com/DRincs-Productions/daz-assert-weapons
	branch = main
[submodule "Nature Creatures"]
	path = Nature Creatures
	url = https://github.com/DRincs-Productions/daz-assert-animals-nature
	branch = main
[submodule "Urban Environment"]
	path = Urban Environment
	url = https://github.com/DRincs-Productions/daz-assert-urban
	branch = main
[submodule "Hair"]
	path = Hair
	url = https://github.com/DRincs-Productions/daz-assert-hair
	branch = main
[submodule "Clothes"]
	path = Clothes
	url = https://github.com/DRincs-Productions/daz-assert-clothes
	branch = main
[submodule "Props"]
	path = Props
	url = https://github.com/DRincs-Productions/daz-assert-props-pose-posing
	branch = main
[submodule "Pose"]
	path = Pose
	url = https://github.com/DRincs-Productions/daz-assert-pose-posing
	branch = main
[submodule "Assert ABFD"]
	path = Assert ABFD
	url = https://github.com/DRincs-Productions/daz-assert-ABFD
	branch = main
[submodule "School Library Art Music"]
	path = School Library Art Music
	url = https://github.com/DRincs-Productions/daz-assert-school-cheerleader-library-art-music
	branch = main
[submodule "Vehicles"]
	path = Vehicles
	url = https://github.com/DRincs-Productions/daz-assert-vehicles
	branch = main
[submodule "Sport"]
	path = Sport
	url = https://github.com/DRincs-Productions/daz-assert-sport
	branch = main
[submodule "Beach Pool"]
	path = Beach Pool
	url = https://github.com/DRincs-Productions/daz-assert-beach-pool
	branch = main
[submodule "Office"]
	path = Office
	url = https://github.com/DRincs-Productions/daz-assert-office
	branch = main
[submodule "Home"]
	path = Home
	url = https://github.com/DRincs-Productions/daz-assert-home-house-bathroom
	branch = main
[submodule "Texture"]
	path = Texture
	url = https://github.com/DRincs-Productions/daz-assert-texture
	branch = main
[submodule "Robot"]
	path = Robot
	url = https://github.com/DRincs-Productions/daz-assert-robot-cyberpunk
	branch = main
[submodule "Sexual"]
	path = Sexual
	url = https://github.com/DRincs-Productions/daz-assert-sexual
	branch = main
[submodule "Restaurants Bars Nightclub"]
	path = Restaurants Bars Nightclub
	url = https://github.com/DRincs-Productions/daz-assert-bars-nightclubs-clubs-restaurants
	branch = main
[submodule "DAZ Library"]
	path = DAZ Library
	url = https://github.com/DRincs-Productions/My-DAZ-3D-Library
	branch = main
[submodule "Emergencies Hospital Police Military"]
	path = Emergencies Hospital Police Military
	url = https://github.com/DRincs-Productions/daz-assert-Frontline-emergencies-hospital-police-military-firefighters
	branch = main
[submodule "Character"]
	path = Character
	url = https://github.com/DRincs-Productions/daz-assert-character-ABFD
	branch = main
