[submodule "Character Tool"]
	path = Character Tool
	url = https://github.com/DRincs-Productions/daz-assert-genesis8-component-morphs
	branch = main
[submodule "Weapons"]
	path = Weapons
	url = https://github.com/DRincs-Productions/daz-assert-weapons
	branch = main
[submodule "Nature Creatures"]
	path = Nature Creatures
	url = https://github.com/DRincs-Productions/daz-assert-animals-nature
	branch = main
[submodule "Urban Environment"]
	path = Urban Environment
	url = https://github.com/DRincs-Productions/daz-assert-urban
[submodule "Hair"]
	path = Hair
	url = https://github.com/DRincs-Productions/daz-assert-hair
[submodule "Clothes"]
	path = Clothes
	url = https://github.com/DRincs-Productions/daz-assert-clothes
[submodule "Props"]
	path = Props
	url = https://github.com/DRincs-Productions/daz-assert-props-pose-posing
[submodule "Pose"]
	path = Pose
	url = https://github.com/DRincs-Productions/daz-assert-pose-posing
